.cwp-editor-form h2 {
	margin-bottom: 0px !important;
}

.cwp-editor-form input.full {
	width: 100%;
	font-size: 1.1rem;
	text-indent: 1rem;
	padding: 0.25rem 0;
}

.cwp-editor-form textarea.full {
	width: 100%;
	height: 6rem;
}

